@model ICollection<LandmarkRankingViewModel>
@inject IStringLocalizer<RankingController> Localizer

@{
    ViewData["Title"] = Localizer["lblTopTen"];
}
<div class="container container-fluid text-center">
    <h1> <i class="fa fa-thumbs-o-up" aria-hidden="true"> </i>@Localizer["lblTopTen"]</h1>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
        <tr>
            <th>@Localizer["lblName"] <i class="fa fa-info" aria-hidden="true"></i></th>
            <th>@Localizer["lblCategory"]<i class="fa fa-list-alt" aria-hidden="true"></i></th>
            <th>@Localizer["lblRegion"] <i class="fa fa-map-signs" aria-hidden="true"></i></th>
            <th>@Localizer["lblPostedDate"] <i class="fa fa-clock-o" aria-hidden="true"></i></th>
            <th><span>@Localizer["lblVisitorsCount"] <i class="fa fa-child" aria-hidden="true"></i></span></th>
            <th><span>@Localizer["lblDesireToVisitCount"]<i class="fa fa-child" aria-hidden="true"></i></span></th>
            <th><i class="fa fa-share" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody>
        @Html.DisplayForModel()
        </tbody>
    </table>
</div>

