@page
@model Landmarks.Web.Areas.Admin.Pages.Category.ListModel
@{
    ViewData["Title"] = "All Categories";
}
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Category.ListModel> localizer;

<div class="container container-fluid text-center">
    <h1>@localizer["lblListCategories"]</h1>
    <a href="/Admin/Category/Add" class="btn btn-indigo">@localizer["lblAddCategory"]</a>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
        <tr>
            <th>@localizer["lblName"]</th>
            <th>@localizer["lblActions"]</th>
        </tr>
        </thead>
        <tbody>
        @Html.DisplayFor(m => m.Categories)
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Categories.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Categories.HasNextPage ? "disabled" : "";
    }

    <a asp-page="./List" asp-area="Admin"
       asp-route-pageIndex="@(Model.Categories.PageIndex - 1)"
       class="btn btn-indigo waves-effect waves-light @prevDisabled">
        @localizer["btnPrevious"]
    </a>
    <a asp-page="./List" asp-area="Admin"
       asp-route-pageIndex="@(Model.Categories.PageIndex + 1)"
       class="btn btn-indigo waves-effect waves-light @nextDisabled">
        @localizer["btnNext"]

    </a>
</div>

