@page
@model Landmarks.Web.Areas.Admin.Pages.Category.ListModel
@{
    ViewData["Title"] = "All Categories";
}

<div class="container container-fluid text-center">
    <h1>@Common.lblAllCategory</h1>
    <a href="/Admin/Category/Add" class="btn btn-indigo">@Common.lblAddCategory</a>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
            <tr>
                <th>@Common.lblName</th>
                <th>@Common.lblActions</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.Categories)
        </tbody>
    </table>
</div>

