@model LandmarkRankingViewModel

@inject IStringLocalizer<RankingController> Localizer
<tr>
    <td>@Model.Name</td>
    <td>@Model.CategoryName</td>
    <td>@Model.RegionName</td>
    <td>@Model.PostedDate</td>
    <td>@Model.VisitorsCount @Localizer["lblPeople"]</td>
    <td>@Model.DesireToVisitCount @Localizer["lblPeople"]</td>
    <td>
        <a asp-area="" asp-controller="Landmark" asp-action="Details" asp-route-id="@Model.Id" class="btn secondary-color btn-sm">@Localizer["btnDetails"]</a>
    </td>
</tr>