@page
@model Landmarks.Web.Areas.Admin.Pages.Landmark.ListModel
@{
    ViewData["Title"] = "All Landmarks";
}

<div class="container container-fluid text-center">
    <h1>@Common.lblAllLandmarks</h1>
    <a href="/Admin/Landmark/Add" class="btn btn-indigo">@Common.lblAddLandmark</a>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
            <tr>
                <th>@Common.lblName</th>
                <th>@Common.lblCategory</th>
                <th>@Common.lblRegion</th>
                <th>@Common.lblActions</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.Categories)
        </tbody>
    </table>
</div>

