@model Landmarks.Common.Models.Main.ViewModel.LandmarkDetailsViewModel
@using Landmarks.Web.Common.Extensions
@using Landmarks.Web.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LandmarkController> localizer;

<div class="container container-fluid rgba-purple-slight" style="margin-top:10px; border-radius:5px">
    <div class="col-lg-7 col-xl-12">
        <div>
            <h3 class="font-weight-bold mb-3"><strong>@Model.Name</strong></h3>
            <div class="col-md-6">
                <span class="float-right">
                    <span class="float-right">
                        @*Getting the users that already rated this picture*@
                        @{var usersRatedThePic = Model.UserIdsRatedPic.Split(' ').ToList();}

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!usersRatedThePic.Contains(this.User.GetUserId()))
                            {
                                using (Html.BeginForm("RateLandmark", "Landmark", FormMethod.Post, new { onsubmit = "return true" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <span onmouseout="CRateSelected()">
                                        <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                    </span>
                                    <input type="hidden" name="Rating" id="Rating" value="0" />
                                    <input type="hidden" name="landmarkId" value="@Model.Id" />
                                    <br />
                                    <span>
                                        <input type="submit" id="btnRate" name="btnRate" value="Rate" class="btn btn-success" />
                                    </span>
                                }
                            }
                        }
                    </span>
                </span>
            </div>

        </div>
        <span>
            <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
        </span>
        <p class="dark-grey-text"><strong>@localizer["lblLandmarkDesc"]:</strong> @Model.Description</p>
        <div class="personal-sm dark-grey-text">
            <div> <strong>@localizer["lblLandmarkCategoryName"]: </strong>@Model.CategoryName</div>

            <div>
                <strong>@localizer["lblLandmarkRegion"]</strong>
                <div><strong>@localizer["lblLandmarkRegionName"]:</strong> @Model.RegionName</div>
                <div><strong>@localizer["lblLandmarkRegionArea"]:</strong> @Model.RegionArea</div>
                <div><strong>@localizer["lblLandmarkRegionPopulation"]:</strong> @Model.RegionPopulation</div>
            </div>
        </div>

    </div>
    <div class="row">
        @foreach (var path in Model.ImagesPath)
        {
            <div class="col-lg-4 col-md-12 mb-3">
                <div></div>
                <img src="@(Url.Content(path))" class="img-fluid z-depth-1 hoverable rounded " alt="Responsive image" style="width: auto; height:270px">
            </div>
        }
    </div>
</div>

<script>
    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function SCRate() {
        for (var i = 1; i <= @Math.Round(Model.Rating, MidpointRounding.AwayFromZero); i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>

