@using Landmarks.Common.Models.Admin.ViewModels
@using Microsoft.Extensions.Localization

@model Landmarks.Common.Models.Admin.ViewModels.CategoryConciseViewModel

@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Category.ListModel> localizer;
<tr>
    <td>@Model.Name</td>
    <td>
        <form asp-area="Admin" asp-page-handler="Delete" asp-route-id="@Model.Id" method="post">
            <button class="btn btn-danger btn-sm">@localizer["btnDelete"]</button>
            <a asp-area="Admin" asp-page="/Category/Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">@localizer["btnEdit"]</a>
        </form>
    </td>
</tr>