@model RegionConciseViewModel
@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Region.ListModel> Localizer

<tr>
    <td>@Model.Name</td>
    <td>@Model.Area</td>
    <td>@Model.Population</td>
    <td>
        <form asp-area="Admin" asp-page-handler="Delete" asp-route-id="@Model.Id" method="post">
            <button class="btn btn-danger btn-sm">@Localizer["btnDelete"]</button>
            <a asp-area="Admin" asp-page="/Region/Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">@Localizer["btnEdit"]</a>
        </form>
    </td>
</tr>