@using Landmarks.Web.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<HomeController> localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="jsmaps-wrapper" id="world-map"></div>

<script type="text/javascript">

    $(function () {

        $('#world-map').JSMaps({
            map: 'bulgaria'
        });

    });
</script>

<script>
    $(document).ready(function () {

        var regionDesc = {
        "Vidin": "@localizer["descVidin"]",
        "Montana":"@localizer["descMontana"]" ,
        "Vratsa": "@localizer["descVratsa"]",
        "Pleven": "@localizer["descPleven"]",
        "Veliko Tarnovo": "@localizer["descVelikoTarnovo"]",
        "Ruse": "@localizer["descRuse"]",
        "Razgrad": "@localizer["descRazgrad"]",
        "Silistra": "@localizer["descSilistra"]",
        "Dobrich": "@localizer["descDobrich"]",
        "Varna": "@localizer["descVarna"]",
        "Shumen": "@localizer["descShumen"]",
        "Targovishte": "@localizer["descTargovishte"]",
        "Gabrovo": "@localizer["descGabrovo"]",
        "Lovech": "@localizer["descLovech"]",
        "Sofia": "@localizer["descSofia"]",
        "Pernik": "@localizer["descPernik"]",
        "Kyustendil": "@localizer["descKyustendil"]",
        "Blagoevgrad": "@localizer["descBlagoevgrad"]",
        "Pazardzhik": "@localizer["descPazardzhik"]",
        "Plovdiv": "@localizer["descPlovdiv"]",
        "Stara Zagora": "@localizer["descStaraZagora"]",
        "Smolyan": "@localizer["descSmolyan"]",
        "Kardzhali": "@localizer["descKardzhali"]",
        "Sliven": "@localizer["descSliven"]",
        "Yambol": "@localizer["descYambol"]",
            "Burgas": "@localizer["descBurgas"]",
            "Grad Sofiya": "@localizer["descSofia"]",
                "Haskovo":"@localizer["descHaskovo"]"

    };

    $('path').on("click", function () {
        var selectedElement = $('.jsmaps-select.mobile').find('select :selected');
        var regionName = selectedElement.val();

        $.ajax({
            url: "@(Url.Action("GetRegionInfo", "Home"))",
            dataType: "text",
            contentType: "application/json",
            data: { 'regionName': regionName },
            async: false,
            success: function (response) {
                debugger;
                var element = $($('.jsmaps-text')[0]);
                var regionId = JSON.parse(response);

                var htmlAsString = '<div class="card col col-md-12">';
                htmlAsString += '<div class="view overlay">';
                htmlAsString += '</div ><div class="card-body">';
                htmlAsString += '<h4 class="card-title">' + regionName + '</h4>';

                htmlAsString += '<p class="card-text"> ' + regionDesc[regionName] + ' </p>';

                if (regionId) {
                    htmlAsString += '<a id="regionLink" class="btn secondary-color" href="#">@localizer["btnReadMore"]</a>';
                }

                htmlAsString += '</div></div >';


                element.empty();
                element.append($.parseHTML(htmlAsString));

                if (regionId) {
                    var link = '@Url.Action("Details", "Region", new { id = "-1" })';
                    link = link.replace("-1", regionId);
                    $('#regionLink').attr('href', link);
                }
            }, error: function (xhr, textStatus, errorThrown) {
                console.log(xhr);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });
});
</script>
