@page
@model Landmarks.Web.Areas.Admin.Pages.Region.AddModel
@inject IStringLocalizer<Landmarks.Web.Areas.Admin.Pages.Region.AddModel> Localizer

@{
    ViewData["Title"] = @Localizer["lblAddRegion"];   
}

<div class="container container-fluid text-center">
    <h2>@Localizer["lblAddRegion"]</h2>
    <form method="post">
        @Html.EditorFor(m => m.AddRegionBindingModel)
        <button type="submit" class="btn btn-indigo">@Localizer["lblAddRegion"]</button>
        <a asp-page="/Index" class="btn btn-light-blue">@Localizer["btnBack"]</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}