@page
@model Landmarks.Web.Areas.Admin.Pages.Region.ListModel
@{
    ViewData["Title"] = "All Regions";
}

<div class="container container-fluid text-center">
    <h1>@Common.lblAllRegions</h1>
    <a href="/Admin/Region/Add" class="btn btn-indigo">@Common.lblAddRegion</a>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
            <tr>
                <th>@Common.lblName</th>
                <th>@Common.lblArea</th>
                <th>@Common.lblPopulation</th>
                <th>@Common.lblActions</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.Regions)
        </tbody>
    </table>
</div>

